<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewei.chat.dao.LogDao">
<select id="selectAll" resultType="log"> 
	select id, userid, time, type, detail, ip from log 
	order by time desc 
	limit #{offset},#{limit}
</select>
<select id="selectLogByUserid" resultType="log">
	select * from log where userid = #{userid,jdbcType=VARCHAR}
	order by time desc
	limit #{offset},#{limit} 
</select>
<select id="selectCount" resultType="int">
	select count(*) userid from log 
</select>
<select id="selectCountByUserid" resultType="int">
	select count(*) userid from log where userid= #{userid, jdbcType=VARCHAR}
</select>
<insert id="insert" parameterType="log">
	insert into log values(
	#{id,jdbcType=VARCHAR}, 
	#{userid, jdbcType=VARCHAR},
	#{time, jdbcType=VARCHAR},
	#{type, jdbcType=INTEGER},
	#{detail, jdbcType=INTEGER},
	#{ip, jdbcType=VARCHAR}	)
</insert>
<delete id="delete" parameterType="string">
	delete from log where id = #{id,jdbcType=VARCHAR}
</delete>
<delete id="deleteByUserid" parameterType="string">
	delete from log where userid = #{userid,jdbcType=VARCHAR}
</delete>
<delete id="deleteAll">
	delete from log
</delete>

</mapper>